@import './../vars/vars.sss'


@svg-load nav url('../../img/svg/zamok.svg')
  stroke: red

body
  display: flex
  transition: color .4s linear
  // background-image: svg-load('../../img/svg/zamok.svg', fill=#000, stroke=#fff)

  & a
    color: red

p:matches(:first-child, .special)
  color: $blue