@import './../vars/vars.sss'
@import './../utils/fonts.sss'


@svg-load nav url('../../img/svg/zamok.svg')
  stroke: red

body
  display: flex
  transition: color .4s linear
  font-family: 'Helvetica-bold'

  & a
    color: red

p:matches(:first-child, .special)
  color: $blue

.body-img
  size: 300px
  position: absolute 50% 50%
  transform: translate(-50%, -50%)