<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    a(href="#")
    div.current BLOCK11
    img(src=`${require('../../img/about-hero.jpeg')}` alt="").body-img
    svg
      use(xlink:href=`${require('./../../img/svg/shield.svg')}`)
    svg
      use(xlink:href=`${require('./../../img/svg/zamok.svg')}`)